@using WebApplication1.Models.Web
@model WebApplication1.Models.Web.RealmsModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script>const wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true, "hide": { "logo": true } }</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
</head>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (Model.RealmsAreSet)
    {
        <p> Choose your realm:</p>
        @foreach (var realm in Model.Realms)
        {
            <p><a asp-controller="Auction" asp-route-realmId="@realm.Key">@realm.Value</a></p>
        }
    }
    else
    {
        <p>Realms are not set in config! Here list of all realms:</p>
        <table>
            <tr>
                <th>Realm name</th>
                <th>Realm id</th>
            </tr>
            @foreach (var realm in Model.Realms)
            {
                <tr>
                    <td>@realm.Value</td>
                    <td>@realm.Key</td>
                </tr>
            }
        </table>
    }
    
</div>
