@{
    ViewData["Title"] = "Home Page";
}
<head>
    <script>const wowhead_tooltips = { "colorlinks": true, "iconizelinks": true, "renamelinks": true, "hide": { "logo": true } }</script>
    <script src="https://wow.zamimg.com/js/tooltips.js"></script>
</head>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>TEST LINK TO WOWHEAD ITEM: <a href="index" data-wowhead="item=19019">TEST TEXT</a></p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
